// Color scheme and font styles
$color-dark: #0d0d0d;
$color-accent-1: #ec4d1d;
$color-accent-2: #279c9c;
$color-light: #ffffff;
// $color-background: #f0f2f5;
$primary-font: 'Anton', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$alternative-font: 'Oswald', sans-serif;

// Breakpoints
$breakpoint-md: 768px;